<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd        
	http://www.springframework.org/schema/context        
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop  
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/data/mongo
	http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">

	<!-- Spring 统一日志处理   LogInterceptor拦截器 配置　-->     
<bean id="logLnterceptor" class="com.hengyun.util.log.LogInterceptor"/>  
<!-- Spring 统一异常处理  ExceptionAdvisor配置 -->  
 <bean id="exceptionHandler" class="com.hengyun.util.exception.ExceptionAdvisor"></bean>
  
    <!-- Bean自动代理处理器 配置-->    
<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator" >  
   <property name="beanNames">  
    <list>    <!-- 配置需要进行日志记录的Service和Dao -->  
        <value>*Dao</value>  
                <!-- 配置所有Service结尾命名的Bean，即所有Service层的类都要经过exceptionHandler异常处理类 -->   
        <value>*Service</value>  <!-- Service层的Bean ID 命名要以Service结尾 -->  
    </list>  
   </property>  
   <property name="interceptorNames">  
    <list>  
       <!--   <value>exceptionHandler</value> -->  
         <value>logLnterceptor</value>  
        <value>exceptionHandler</value>
    </list>  
   </property>  
</bean>  

<bean id="springMethodInterceptor" class="com.hengyun.util.interceptor.AllowedInterceptor" ></bean>
    <aop:config>
                 <!--切入点-->
                 <aop:pointcut id="loginPoint"
                 expression="execution(public * com.qunar.wireless.ugc.controllor.web.*.*(..)) "/>  
                 <!--在该切入点使用自定义拦截器-->
                 <aop:advisor pointcut-ref="loginPoint" advice-ref="springMethodInterceptor"/>
      </aop:config> 

</beans>