<?xml version="1.0" encoding="UTF-8"  ?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
        xmlns:jms="http://www.springframework.org/schema/jms"  
        xsi:schemaLocation="http://www.springframework.org/schema/beans   
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
         http://www.springframework.org/schema/context   
         http://www.springframework.org/schema/context/spring-context-4.0.xsd   
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-40.xsd">  
	
	<context:property-placeholder location="classpath:quartz.properties" ignore-unresolvable="true"/>

<!-- 
	<bean name="quartzScheduler" lazy-init="false"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> 
        <property name="dataSource">  
            <ref bean="dataSource" />  
        </property> 
        
        <property name="applicationContextSchedulerContextKey"  
                    value="applicationContextKey" /> 
         <property name="autoStartup" value="true" />
        <property name="configLocation" value="classpath:quartz.properties"/> 
    </bean> 
 	-->
 	
 	<bean id="schedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" />
 	
 	<bean id="springUtils" class="com.hengyun.service.impl.notice.SpringUtils" />
 	<!-- 
	<bean id="taskJob" class="com.hengyun.service.impl.notice.GreetService" />
	

	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="group" value="jobWork"/>
		<property name="name" value="jobWorkName"/>
		<property name="concurrent" value="false"/>
		
		<property name="targetObject"><ref bean="taskJob"/></property>
		<property name="targetMethod"><value>run</value></property>	
	</bean>
	
	
	<bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="name" value="workDefaultName"/>
		<property name="group" value="workDefault"/>
		<property name="jobDetail"><ref bean="jobDetail"/></property>
		<property name="cronExpression"><value>0/5 * * * * ?</value></property>
	</bean>	
	
	
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="myTrigger"/>
			</list>
		</property>
	</bean>
 -->

         
  
	<!-- 配置定时任务,用于初始化定时器  
    <bean id="InitJobDetail" 
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
        <property name="targetObject"> 
            <ref bean="ReportJobTodo"/> 
        </property> 
        <property name="targetMethod"> 
            <value>initJobTrigger</value> 
        </property> 
        <property name="concurrent" value ="false"/>   
    </bean> 
    
    <bean id="ReportJobTodo" 
        class="cn.com.gsoft.report.timetask.ReportJobTodo"> 
    </bean> 
    
    <bean id="InitTrigger" 
        class="org.springframework.scheduling.quartz.CronTriggerBean"> 
        <property name="jobDetail"> 
            <ref bean="InitJobDetail"/> 
        </property> 
        <property name="cronExpression"> 
            <value>* * * * * ?</value> 
        </property> 
    </bean> 
    
  
	-->
	
	
    </beans>  