<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tool="http://www.springframework.org/schema/tool"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context-4.0.xsd
	                    http://www.springframework.org/schema/tx
	                    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	                    http://www.springframework.org/schema/aop 
	                    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	                    http://www.springframework.org/schema/tool	                    
	                    http://www.springframework.org/schema/tool/spring-tool-4.0.xsd
	                 	http://www.springframework.org/schema/mvc
	                    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 启用spring mvc 注解 
	<context:annotation-config /> 
	<mvc:annotation-driven /> 
	<mvc:default-servlet-handler />
<context:annotation-config />    -->

    <!-- 把标记了@Controller注解的类转换为bean -->            
    <context:component-scan base-package="com.hengyun.controller" />
     <!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven /> 

	 <!-- 配置资源文件,防止被拦截 -->
    <mvc:resources location="/WEB-INF/image/" mapping="/image/**"/>  
    <mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>  
    <mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>

	 <!-- 配置拦截器，多个拦截器顺序执行-->

 
    <mvc:interceptors>

        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="com.hengyun.util.interceptor.LoginInterceptor">
                <property name="allowUrls">
                    <list>
                  
                        <value>/reglog/show</value>
                          <value>/reglog/thirdPart</value>
                            <value>/reglog/username</value>
                            
                           
                              <value>/info/download</value>
                              
                              <value>/hospital</value>
                              <value>/office</value>
                              <value>/docter</value>
                              
                              
                              
                             <value>/permission</value>
                             <value>/resources</value>
                              <value>/roles</value>
                              <value>/userRole</value>
                             
                        <value>/account/register</value>
                          <value>/account/mailReceive</value>
                            <value>/account/mailSend</value>
                              <value>/account/smsReceive</value>
                                <value>/account/smsSend</value>
                                 <value>/account/findPassword</value>
                                 <value>/account/findPassword</value>
                                   <value>/multiMedia/download</value>
                    </list>
                </property>
            </bean>
           
        </mvc:interceptor>
        

			 <mvc:interceptor>
			 <mvc:mapping path="/**" />
			<bean class="com.hengyun.util.interceptor.AuthenticateInterceptor">
			<property name="allowUrls">
		                    <list>
		                  
		                        <value>/reglog/show</value>
		                          <value>/reglog/thirdPart</value>
		                            <value>/reglog/username</value>
		                            
		                            
		                              <value>/info/download</value>
		                              
		                              <value>/hospital</value>
		                              <value>/office</value>
		                              <value>/docter</value>
		                              
		                              
		                              
		                             <value>/permission</value>
		                             <value>/resources</value>
		                              <value>/roles</value>
		                              <value>/userRole</value>
		                             
		                        <value>/account/register</value>
		                          <value>/account/mailReceive</value>
		                            <value>/account/mailSend</value>
		                              <value>/account/smsReceive</value>
		                                <value>/account/smsSend</value>
		                                 <value>/account/findPassword</value>
		                                 <value>/account/findPassword</value>
		                               <value>/multiMedia/download</value>
		                    </list>
		                </property>
			</bean>
			</mvc:interceptor>   
			
	
    </mvc:interceptors>
	
 
	<!--页面视图层信息 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"	value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/jsp/"></property> <!--页面的前辍名 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	

    <mvc:annotation-driven validator="validator" conversion-service="conversion-service" />
    
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass"  value="org.hibernate.validator.HibernateValidator"/>
      
        <property name="validationMessageSource" ref="validatemessageSource"/>
    </bean>
    <bean id="conversion-service" class="org.springframework.format.support.FormattingConversionServiceFactoryBean" />
    <bean id="validatemessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">  
        <property name="basename" value="classpath:validatemessages"/>  
        <property name="fileEncodings" value="utf-8"/>  
        <property name="cacheSeconds" value="120"/>  
    </bean>
	
  <!--  
    <bean id="jacksonHttpMessageConverter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <ref bean="jsonHttpMessageConverter" />  
            </list>  
        </property>  
    </bean>  
    
    <bean id="jsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
        <property name="supportedMediaTypes">  
            <list>  
                <value>application/json;charset=UTF-8</value>  
            </list>  
        </property>  
    </bean>  
-->

  <!--启动Spring MVC的注解功能,设置编码方式，防止乱码-->  
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
      <property name="messageConverters">     
         <list>     
             <bean class = "org.springframework.http.converter.StringHttpMessageConverter">     
                <property name = "supportedMediaTypes">  
                      <list>  
                          <value>text/html;charset=UTF-8</value>     
                     </list>     
                </property>     
             </bean>     
         </list>     
      </property>   
    </bean>  
 
    <!-- fastjson转换器 -->  
    <bean id="fastJsonHttpMessageConverter"  class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"/>  
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"  >   
        <property name="messageConverters">  
           <list>  
              <ref bean="fastJsonHttpMessageConverter" /><!-- json转换器 -->  
           </list>  
        </property>  
     </bean>    

	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
	    <property name="maxUploadSize" value="10485760" />  
	</bean>
		

</beans>





