<?xml version="1.0" encoding="UTF-8" ?>  
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    <mapper namespace="com.hengyun.dao.friendcircle.mysql.RosterDao">  
      
        <resultMap type="Roster" id="roster">  
            <id property="rosterID" column="rosterID"/>  
            <result property="username" column="username"/>  
            <result property="jid" column="jid"/>  
            <result property="sub" column="sub"/>
             <result property="ask" column="ask"/>
            <result property="recv" column="recv"/>  
             <result property="nick" column="nick"/>  
           
        </resultMap>  
          
        <!-- 查询好友，根据rosterId -->  
        <select id="getRoster" parameterType="String" resultType="Roster" resultMap="roster">  
            
                SELECT * from ofRoster UA
                    WHERE UA.username = #{username}  
                    and UA.sub=3 and UA.ask=-1 and UA.recv=-1
       
        </select>  
        

          
    </mapper>  
